html{
    color: #354657;
    font-size: 1rem;
    @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
    font-family: 'Raleway', sans-serif;
}
header{
    top: 0;
    position: sticky;
}
body{
    margin: 0;
}
::selection{
    background-color: #946fd367;
}
a{
    text-decoration: none;
}
.header_menu{
    display: flex;
    justify-content: center;
    margin-top: -120px;
}
.header_background{
    background-color: #F8F4FC;
    height: 118px;
    width: 100%;
}
.logo{
    height: 58px;
    margin-left: 15%;
    margin-top: 10px;
}
a.catalog, a.education, a.partners, a.stock {
    color: #354657;
    font-weight: bold;
    margin: 2%;
}
a.catalog:hover, a.education:hover, a.partners:hover, a.stock:hover {
    text-decoration: underline;
    color: black;
}
.header_icons{
    display: flex;
    justify-content: flex-end;
    margin-right: 16%;
    margin-top: -60px;
}
.search, .user, .shopping-bag {
    margin-left: 1rem;
}
.page1, .page2{
    white-space: pre;
    color: #626262;
}
.page1:hover, .page2:hover{
    text-decoration: underline;
}
.submenu{
    margin-left: 15%;
    margin-top: 20px;
}
@media (min-width: 1000px) and (max-width: 1600px){
    .logo{
        margin-left: 50px;
    }
    .header_menu{
        margin-top: -105px;
        margin-left: 80px;
    }
    .header_icons{
        margin-top: -50px;
        margin-right: 100px;
    }
    .submenu{
        margin-top: 50px;
        margin-top: 20px;
    }
}
@media (min-width: 500px) and (max-width: 999px){
    .logo{
        margin: 10px;
    }
    .header_menu{
        margin-top: -70px;
        margin-left: -10px;
    }
    .submenu{
        margin-top: 30px;
    }
}

.container{
    display: grid;
    grid-template-columns: 15% 20% 40% 20%;
    grid-auto-flow: column;
    row-gap: 40px;
    column-gap: 30px;
}
.contacts{
    grid-column-start: 2;
}
.line{
    grid-column-start: 2;
    grid-column-end: 4;
    width: 100%;
    background-color: #E2E2E2;
    height: 1px;
    margin-top: -650px;
}
.logo-right{
    grid-column-start: 4;
    grid-column-end: 4;
    margin-left: 36%;
}
.consultation{
    width: 375px;
    height: 420px;
    background-color: #F0F2F5;
    grid-column-start: 2;
    margin-top: -620px;
    padding-top: 30px;
    padding-left: 20px;
}
.map{
    grid-column-start: 3;
    margin-top: 150px;
}
.geo{
    background-image: url(../img/geo.svg);
    background-repeat: no-repeat;
    height: 26px;
    border: 2px solid #D6D9DE;
    background-position: center;
    width: 61px;
    height: 61px;
    border-radius: 50%;
}
.tel{
    background-image: url(../img/phone-call.svg);
    background-repeat: no-repeat;
    height: 26px;
    border: 2px solid #D6D9DE;
    background-position: center;
    width: 61px;
    height: 61px;
    border-radius: 50%;
}
.convert{
    background-image: url(../img/mail.svg);
    background-repeat: no-repeat;
    height: 26px;
    border: 2px solid #D6D9DE;
    background-position: center;
    width: 61px;
    height: 61px;
    border-radius: 50%;
}
.our_adress{
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 80px;
    margin-top: -70px;
}
.adress, .font_for{
    margin-left: 80px;
}
.call{
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 80px;
    margin-top: -60px;
}
.tel_2{
    color: #946FD3;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-left: 80px;
}
.font_for{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.message{
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 80px;
    margin-top: -60px;
}
.mail{
    color: #946FD3;
    font-weight: 700;
    margin-left: 80px;
}
.button{
    background: #946FD3;
    border-radius: 50px;
    width: 338px;
    height: 54px;
    display: inline-block;
    margin-top: 40px;
    margin-left: 20px;
}
a.button>span{
    color: white;
    font-weight: 700;
    position: relative;
    left: 22.5%;
    top: 15px;
}
.doterra{
    position: relative;
    left: 87%;
    top: -60px;
}



.terra-health_bottom{
    margin-left: -5%;
    margin-top: -20px;
    margin-left: -150px;
}
footer a{
    color: black;
    font-weight: bold;
}
footer a:hover{
    text-decoration: underline;
}
.footer{
    height: 97px;
    background-color: white;
    border-top: 1px solid #E2E2E2;
    width: 100%;
    margin-top: 150px;
}
.footer_content{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.terra-health_bottom{
    margin-left: -5%;
    margin-top: -20px;
    margin-left: -150px;
    }

.team{
    margin-right: 2.5rem;
}
.facebook, .instagramm, .youtube, .linkedin{
    margin-right: 1rem;
}
.footer_text{
    margin-left: -20%;
}
@media (min-width: 800px) and (max-width: 1299px) {
    .footer_text{
        margin-left: 20px;
    }
    .doterra{
        display: none;
    }
}
@media (min-width: 600px) and (max-width: 799px) {
    .footer_text{
        margin-left: -250px;
    }
    
    .footer_icons{
        margin-left: -700px;
        margin-top: 40px;
    }
    .doterra{
        display: none;
    }
}
@media (min-width: 500px) and (max-width: 599px) {
    .footer_text{
        margin-top: 20px;
        margin-left: -200px;
        margin-top: 40px;
    }
    .doterra{
        display: none;
    }
}